doctype html
html
  head

  body
    p Submit a file to view its filesize.
    form(action='/upload' method='post' enctype='multipart/form-data')
      input(type='file' name='file')
      input(type='submit')
